<h1>New Task </h1>

<%= form_with model: @todo do |form| %>
  <div>
    <%= form.label :task %><br>
    <%= form.text_field :task %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

   <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>