<div class="jumbotron jumbotron-fluid form-1 body">
  <div class="container">
    <h2 class="display-5 text-color "><%= @todo.task %></h2>
    <p class="lead"><%= @todo.description %></p>
    <p class="lead"><%= @todo.date %></p>
    <p class="lead"><%= link_to "Edit", edit_todo_path(@todo),class:"btn btn-secondary"%></p>
    <p class="lead"><%= link_to 'Back', todos_path,class:"btn btn-dark"%></p>
</div>
</div>
